:root {
    --color-nav: rgba(79, 89, 101, 0.88);
    --color-main: #292F3B;
    --color-btn-nav: #D6DADD;
    --color-hover-btn: #000000;
    --color-logo: #15F5C0;
    --color-text: #ffff;
}

* {
    margin: 0;
    padding: 0;
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

/* Navegacion */
.header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 8vh;
    background: var(--color-nav);
    display: flex;
    justify-content: space-between;
    padding: 0 100px !important;
}

body {
    background-color: var(--color-main);
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: var(--color-logo);
    padding: 0;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    font-weight: bold;
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: var(--color-hover-btn);
    background: var(--color-btn-nav);
}

.nav-bar ul li a.active-link {
    color: var(--color-hover-btn);
    background: var(--color-btn-nav);
}

/* Main */
main {
    background-color: var(--color-main);
}



/* Inicio */

.contenedor-inicio {
    display: flex;
    justify-content: center;
    background-color: var(--color-main);
    height: 90vh;
}


#inicio {
    margin-top: 15vh;
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.informacion-inicio {
    width: 50%;

}

.titulo-nombre {
    color: var(--color-text);
    font-size: larger;
}

.titulo-nombre span {
    color: var(--color-logo);
    font-weight: bold;
    font-size: x-large;
}

.informacion-inicio h1 {
    color: var(--color-text);
    font-size: larger;
}

.informacion-inicio p {
    color: var(--color-text);
    font-size: larger;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

.contenedor-foto-inicio {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.contenedor-imagen {
    background: radial-gradient(circle, #cbd5e1 0%, rgba(102, 105, 107, 1) 100%);
    clip-path: ellipse(39% 46% at 50% 51%);
    width: fit-content;
}

.contenedor-imagen img {
    max-width: 64%;
    margin-left: 18%;
    margin-top: 6%;

}

.btn-descargar-cv {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    text-decoration: none;
    padding: 2% 6%;
    font-weight: bold;
    color: #fefefe;
    font-size: 20px;
    transition: 0.2s;
}

.btn-descargar-cv:hover {
    color: var(--color-hover-btn);
    background: var(--color-btn-nav);
}

.contenedor-ir-portafolio {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedor-ir-portafolio a {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    text-decoration: none;
    padding: .5% 6%;
    font-weight: bold;
    color: #fefefe;
    font-size: 20px;
    transition: 0.2s;
}

.contenedor-ir-portafolio a:hover {
    color: var(--color-hover-btn);
    background: var(--color-btn-nav);
}

/* Habilidades */

 #habilidades{
    height: 100vh;
}

.contenedor-habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.contenedor-habilidades h3 {
    margin-top: 50px;
    color: var(--color-text);
    font-weight: bold;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2% 0;
}


.contenedor-tegnologia-principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    height: 90vh;
}

.contenedor-tegnologia{
    display: flex;
    height: 23vh;
    width: 28vw;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

}

.icono-tecnologia{
    font-size: 60px;
    color: var(--color-logo);

    
}
.nombre-tegnologia{
    color: var(--color-text);
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
    letter-spacing: 2px;

} 

.titulo-portafolio{
    margin-top: 50px;
    color: var(--color-text);
    font-weight: bold;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2% 0;
    margin-bottom: 3vh;
 }

#portafolio{
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.contenedor-portafolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.titulo-item{
    text-align: center;
    color: var(--color-logo);
    font-weight: bold;
    font-size: x-large;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.descripcion-item{
    color: var(--color-text);
    font-size: larger;
    letter-spacing: 2px;
    line-height: 1.2;
    height: 15vh;

}

.contenedor-tecnologia-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2vh;
    background-color: #292F3B;
}

.item-tecnologia{
    color: var(--color-logo);
    font-size: larger;
    letter-spacing: 2px;
    line-height: 1.2;
}

.portafolio-item-contenedor{
   width: 40vw;
    position: relative;
    height: 80vh;
    margin-bottom: 10vh;

}

.portafolio-item-footer{
    background-color: var(--color-nav);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: inherit;
    margin-top: -4.5vh;
    padding: 1% 0;
}

.ensaleces-items, .ensaleces-items:hover {
    background-color: var(--color-logo);
    padding: 1vh;
    border-radius: 32px;
    color: var(--color-hover-btn);
}
.informacion-inicio{
    width: 50%;
   
} 

.titulo-nombre{
    color: var(--color-text);
    font-size: larger;
}
.titulo-nombre span{
    color: var(--color-logo);
    font-weight: bold;
    font-size: x-large;
}

.informacion-inicio h1{
    color: var(--color-text);
    font-size: larger;
}

.informacion-inicio p{
    color: var(--color-text);
    margin: 2% 0;
    font-size: larger;
    letter-spacing: 1.5px;
    line-height:1.5;
}

.contenedor-foto-inicio{
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.contenedor-imagen{
    background: radial-gradient(circle, #cbd5e1 0%, rgba(102,105,107,1) 100%);
    clip-path: ellipse(39% 46% at 50% 51%);
    width: fit-content;
}

.contenedor-imagen img{
    max-width: 64%;
    margin-left: 18%;
    margin-top: 6%;

}

.btn-descargar-cv{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    text-decoration: none;
    padding: 2% 6%;
    font-weight: bold;
    color: #fefefe;
    font-size: 20px;
    transition: 0.2s;
}

.btn-descargar-cv:hover{
    color: var(--color-hover-btn);
    background: var(--color-btn-nav);
}

.contenedor-ir-portafolio{
    height: 7em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedor-ir-portafolio a{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    text-decoration: none;
    padding: .5% 6%;
    font-weight: bold;
    color: #fefefe;
    font-size: 20px;
    transition: 0.2s;
}

.contenedor-ir-portafolio a:hover{
    color: var(--color-hover-btn);
    background: var(--color-btn-nav);   
}

#habilidades{
    height: 100vh;
}

.contenedor-habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.contenedor-habilidades h3 {
    margin-top: 50px;
    color: var(--color-text);
    font-weight: bold;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2% 0;
}


.contenedor-tegnologia-principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    height: 90vh;
}

.contenedor-tegnologia{
    display: flex;
    height: 23vh;
    width: 28vw;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

} 

.icono-tecnologia{
    font-size: 60px;
    color: var(--color-logo);

    
}
.nombre-tegnologia{
    color: var(--color-text);
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.titulo-portafolio{
    margin-top: 50px;
    color: var(--color-text);
    font-weight: bold;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2% 0;
    margin-bottom: 3vh;
}

#portafolio{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.contenedor-portafolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.titulo-item{
    text-align: center;
    color: var(--color-logo);
    font-weight: bold;
    font-size: x-large;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.descripcion-item{
    color: var(--color-text);
    font-size: larger;
    letter-spacing: 2px;
    line-height: 1.2;
    height: 15vh;

}

.contenedor-tecnologia-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2vh;
    background-color: #292F3B;
}

.item-tecnologia{
    color: var(--color-logo);
    font-size: larger;
    letter-spacing: 2px;
    line-height: 1.2;
    text-align: center;
    margin: 1vh;
}



.ensaleces-items, .ensaleces-items:hover {
    background-color: var(--color-logo);
    padding: 1vh;
    border-radius: 32px;
    color: var(--color-hover-btn);
}

#contacto{
    height: auto;
}

.contacto-titulo{
    text-align: center;
    color: var(--color-text);
    font-weight: bold;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2% 0;
    margin-bottom: 3vh;
}


.contenedor-contacto-items{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3vh;
    padding: 0 20vw;
}

.items-contactos{
    width: 50vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contenedor-item-contacto{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3vh;
}

.item-contacto{
    font-size: xx-large;
    padding: 5px;
    margin-right: 15px;
    color: var(--color-logo);
}

.informacion-contacto{
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--color-text);
    margin-left: 10%;
}

.contenedor-redes-sociales{
    display: flex;
    align-items: center;
}
.contenedor-item-contacto a{
    font-size: xx-large;
    margin: 0 2vw;
    color:  var(--color-logo);
}

.contenedor-item-contacto a:hover{
    font-size: xxx-large;
}

.icono-direccional{
    color: #000000;
    font-weight: bold;
    font-size: xxx-large;
}



@media only screen and (max-width: 1069px) {}

@media only screen and (max-width: 1320px) {
    .header {
        padding: 0 50px !important;
    }
    .contenedor-portafolio{
        flex-direction: column;
    }

    .portafolio-item-contenedor{
        height: auto;
        width: 90vw;
        margin-bottom: 10vh;
    }

}


@media only screen and (max-width: 1100px) {}

@media only screen and (max-width: 900px) {
    .header{
        height: 50px;

    }
    .hamburger {
        margin: auto 0;
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
        z-index: 100;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 70px auto 0 auto !important;
        text-align: center;
        transition: 0.5s;
    }

    .nav-bar.active ul {
        opacity: 1;

    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }


    #inicio {
        height: auto;
        margin-top: 12vh;
    }

    .contenedor-inicio {
        height: auto;
        flex-direction: column-reverse;
        align-items: center;
    }

    .informacion-inicio{
        width: auto;
        padding: 7% 5% 5% 5%;
    }
    .contenedor-foto-inicio{
        width: auto;
    }
    .contenedor-ir-portafolio {
        display: none;
    }


    #habilidades{
        height: auto;
    }
    .contenedor-habilidades{
        height: auto;
    }
    .contenedor-tegnologia-principal{
        height: auto;
    }
    .contenedor-tegnologia{
        width: 32vw;
    }

    .portafolio-item-contenedor{
        width: 90vw;
        margin-bottom: 30vh;
    }

    .contenedor-contacto-items{
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .items-contactos{
        width: auto;
    }
    .contenedor-redes-sociales{
        margin-top: 3vw;
    }
}

@media only screen and (max-width: 800px) {
    .header{
        height: 50px;
    }
    .portafolio-item-contenedor{
        width: 90vw;
        margin-bottom: 10vh;
    }

}


@media only screen and (max-width: 600px) {
    .header{
        height: 50px;
    }
    .portafolio-item-contenedor{
        width: 90vw;
        margin-bottom: 10vh;
    }
}